<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://github.com/vo087/TizenBrewInstaller_Test"
        version="1.0.0"
        viewmodes="maximized">

    <author href="https://tizenbrew.vercel.app">Reis Can (then edited by vo087)</author>
    <access origin="*" subdomains="true"></access>
    
    <tizen:application id="vo087TizenIn.TizenBrewStandaloneSimple" package="vo087TizenIn" required_version="5.5"/>
    <name>TizenBrewInstallerSimple</name>
    <content src="client_simplified/index.html"/>
    <icon src="icon.png"/>

    <tizen:profile name="tv-samsung"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/web.service"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>

    <tizen:service id="vo087TizenIn.TizenBrewInstallerServiceSimple">
        <tizen:content src="client_simplified/service_simplified/index.js"/>
        <tizen:name>TizenBrewServiceSimple</tizen:name>
        <tizen:description>TizenBrewServiceSimple</tizen:description>
    </tizen:service>

    <tizen:setting pointing-device-support="enable" screen-orientation="landscape" context-menu="enable" background-support="enable" encryption="disable" install-location="auto" hwkey-event="enable"/>

</widget>